---
import { Image } from "astro:assets";

import LogoWhite from "../../assets/icons/LogoWhite.svg"
---

<footer class="max-w-6xl mx-auto py-24 max-md:py-20">

    <div>
        <Image
            src={LogoWhite}
            alt="Fayda Logo"
        />
    </div>

    <div class="flex max-md:flex-col justify-between text-bg font-light">
        <span>
            Your Partner in Fast, Functional, Beautiful Websites
        </span>

        <span class="max-md:mt-10">
            2025 Fayday.Studio. All rights reserved
        </span>
    </div>
    
</footer>