---
import Logo from "@assets/Logo.svg";
import UpRight from "@icons/UpRight.svg";
import Burger from "@icons/Burger.svg";
import Cross from "@icons/Cross.svg";

import { navItems } from "../../data";
import Button from "@ui/Button.astro";

const currentPath = Astro.url.pathname;
---

<header class="max-w-7xl mx-auto py-8 flex justify-between items-center px-5">
    <div class="w-full flex justify-between items-center ">
        <div class="flex-1">
            <a href="/">
                <Logo />
            </a>
        </div>

        <nav class="flex-1 flex justify-center items-center gap-8 max-lg:hidden">
            {
                navItems.map((item) => (
                    <Button
                        href={item.href}
                        label={item.label}
                        variant="ghost"
                        underlineAnimation
                        class="uppercase whitespace-nowrap"
                        aria-current={
                            item.href === "/"
                                ? currentPath === "/"
                                    ? "page"
                                    : undefined
                                : currentPath.startsWith(item.href)
                                  ? "page"
                                  : undefined
                        }
                    />
                ))
            }
        </nav>

        <div class="flex-1 flex justify-end max-lg:hidden">
            <Button href="/contact" label="Book a Call" variant="outline" >
                <UpRight slot={"icon"} class="group-hover:-translate-y-1 group-hover:translate-x-1 transition-transform duration-300 ease-out" />
            </Button>
        </div>
    </div>

    <div class="lg:hidden">
        <button id="menu-btn">
            <Burger id="menu-icon" class="w-8 h-8" />
            <Cross id="close-icon" class="hidden w-6 h-6" />
        </button>

        <nav
            id="mobile-menu"
            class="hidden bg-brand-neutral z-50 left-0 w-full h-screen absolute px-5 mt-2 transform transition-transform translate-y-full duration-500"
        >
            <ul class="mt-10 space-y-3">
                {
                    navItems.map((item) => (
                        <a
                            href={item.href}
                            class="group uppercase font-regular text-brand-surface hover:text-brand-red"
                        >
                            <li class="py-4 border-b border-neutral-12">
                                {item.label}
                            </li>
                        </a>
                    ))
                }

                <li class="mt-8">
                    <Button
                        href="/contact"
                        label="Book a Call"
                        variant="outline"
                        class="w-full"
                    >
                        <UpRight slot="icon" />
                    </Button>
                </li>
            </ul>
        </nav>
    </div>
</header>

<script>
    document.addEventListener("astro:page-load", () => {
        const menuBtn = document.getElementById("menu-btn");
        const mobileMenu = document.getElementById("mobile-menu");
        const menuIcon = document.getElementById("menu-icon");
        const closeIcon = document.getElementById("close-icon");

        function toggleMobileMenu(show: boolean) {
            if (show) {
                // OPEN
                mobileMenu?.classList.remove("hidden");

                mobileMenu?.getBoundingClientRect();

                mobileMenu?.classList.remove("translate-y-full");
                mobileMenu?.classList.add("translate-y-0");

                menuIcon?.classList.add("hidden");
                closeIcon?.classList.remove("hidden");

                document.body.classList.add("overflow-hidden");
            } else {
                // CLOSE
                mobileMenu?.classList.remove("translate-y-0");
                mobileMenu?.classList.add("translate-y-full");

                // waiting for the animation to complete
                setTimeout(() => {
                    mobileMenu?.classList.add("hidden");
                }, 300);

                menuIcon?.classList.remove("hidden");
                closeIcon?.classList.add("hidden");

                document.body.classList.remove("overflow-hidden");
            }
        }

        menuBtn?.addEventListener("click", () => {
            const isHidden = mobileMenu?.classList.contains("hidden");

            if (isHidden) {
                toggleMobileMenu(isHidden);
            } else {
                toggleMobileMenu(false);
            }
        });

        document.querySelectorAll("#mobile-menu a").forEach((link) => {
            link.addEventListener("click", () => {
                toggleMobileMenu(false);
            });
        });
    });
</script>
