@import "tailwindcss";

@theme {
  --font-base: "Inter", sans-serif;
  --font-secondary: "Bitcount Single", system-ui;

  /* --color-- BRAND COLORS --color-- */
  --color-brand-surface: #f5f5f5;
  --color-brand-blue: #28affa;
  --color-brand-neutral: #161616;
  --color-brand-red: #ef5350;


  --color-color-blue-50: #eaf7ff;
  --color-blue-100: #bce6fd;
  --color-blue-200: #9cdafd;
  --color-blue-300: #6fc9fc;
  --color-blue-400: #53bffb;
  --color-blue-500: #28affa;
  --color-blue-600: #249fe4;
  --color-blue-700: #1c7cb2;
  --color-blue-800: #16608a;
  --color-blue-900: #114a69;

  /* --color-- RED PALETTE --color-- */
  --color-red-50: #fdeeee;
  --color-red-100: #facaca;
  --color-red-200: #f8b0af;
  --color-red-300: #f48c8a;
  --color-red-400: #f27573;
  --color-red-500: #ef5350;
  --color-red-600: #d94c49;
  --color-red-700: #aa3b39;
  --color-red-800: #832e2c;
  --color-red-900: #642322;

  /* --color-- NEUTRAL PALETTE --color-- */
  --color-neutral-1: #ffffff;
  --color-neutral-2: #fdfdfd;
  --color-neutral-3: #f6f6f6;
  --color-neutral-4: #f1f1f1;
  --color-neutral-5: #dcdcdc;
  --color-neutral-6: #c5c5c5;
  --color-neutral-7: #969696;
  --color-neutral-8: #686868;
  --color-neutral-9: #555555;
  --color-neutral-10: #393939;
  --color-neutral-11: #323232;
  --color-neutral-12: #292929;
  --color-neutral-13: #161616;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;


  --animate-marquee: marquee 30s linear infinite;
  --animate-fade-blur-in: fade-blur-in 0.6s ease-out forwards;
  --animate-fade-blur-out: fade-blur-out 0.6s ease-in forwards;

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes fade-blur-in {
    0% {
      opacity: 0;
      filter: blur(5px);
      transform: translateY(10%);
    }

    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  @keyframes fade-blur-out {
    0% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0)
    }

    100% {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(-10%)
    }
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--color-brand-neutral);
}

@utility mask-fade-x {
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}

@layer components {
  .case-study-body h1 {
    @apply text-h3 text-brand-surface my-8;
  }

  .case-study-body h2 {
    @apply text-body-lg font-bold text-brand-surface my-2;
  }

  .case-study-body p {
    @apply text-body-md text-neutral-5 my-2;
  }

  .case-study-body p + p {
    @apply mt-6;
  }

  .case-study-body hr {
    @apply text-neutral-12 my-8;
  }

  .case-study-body img {
    @apply border border-neutral-12 rounded-2xl my-8;
  }
}

@utility text-display-lg {
  /* Mobile: 48px, Bold, -1.44% tracking */
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.0144em;
  line-height: 1.1;

  @media (width >=768px) {
    /* Desktop: 80px, Bold, -3.2% tracking */
    font-size: 80px;
    letter-spacing: -0.032em;
  }
}

@utility text-h1 {
  /* Mobile: 40px, Bold, -1.5% tracking */
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.015em;
  line-height: 1.15;

  @media (width >=768px) {
    /* Desktop: 64px, Bold, -2% tracking */
    font-size: 64px;
    letter-spacing: -0.02em;
  }
}

@utility text-h2 {
  /* Mobile: 32px, SemiBold, -1% tracking */
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.2;

  @media (width >=768px) {
    /* Desktop: 48px, SemiBold, -1% tracking */
    font-size: 48px;
  }
}

@utility text-h3 {
  /* Mobile: 24px, SemiBold, 0% tracking */
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.2;

  @media (width >=768px) {
    /* Desktop: 32px, SemiBold, -0.3% tracking */
    font-size: 32px;
    letter-spacing: -0.003em;
    line-height: 1.3;
  }
}

@utility text-body-lg {
  /* Mobile: 18px, Regular, 0% tracking */
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;

  @media (width >=768px) {
    /* Desktop: 20px, Regular, 0% tracking */
    font-size: 20px;
    line-height: 1.6;
  }
}

@utility text-body-md {
  /* Mobile & Desktop: 16px, Regular, 0% tracking */
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;

  @media (width >=768px) {
    line-height: 1.6;
  }
}

@utility text-caption {
  /* Mobile: 11px, Regular, 0.5% tracking */
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 1.4;

  @media (width >=768px) {
    /* Desktop: 12px, Medium, 0.5% tracking */
    font-size: 12px;
    font-weight: 500;
  }
}