---
import Booking from "@ui/Booking.astro";
import Section from "@ui/Section.astro";
---

<Section >
    <h1 class="text-h2 text-brand-surface text-center max-w-lg mx-auto">
        Have a Project in mind? <span class="text-neutral-7">Let's talk</span>
    </h1>

    <div class="max-w-7xl mx-auto rounded my-8">
        <Booking />
    </div>
</Section>

