---
import CalCalander from "../molecules/CalCalander.astro";
---

<section id="contact" class="scroll-mt-24 my-10 md:my-16">

    <div class="text-center -space-y-2">

        <h1 class="text-desktop-h3 text-neutral">Book a Call Today</h1>
        <p class="text-lg md:text-xl font-light text-neutral">Schedule your FREE strategy call and discover how we can execute your vision with precision.</p>

    </div>

    <div class="max-w-6xl mx-auto rounded my-12">
        
        <CalCalander/>

    </div>

</section>