---
import { faqs } from "../../constant";
import FAQ from "../molecules/FAQ.astro";
---

<section id="faqs" class="scroll-mt-24 my-10 md:my-16">

     <div class="text-center -space-y-2 max-w-3xl mx-auto">

        <h1 class="text-desktop-h3 text-neutral">FAQ – Everything You Need to Know</h1>
        <p class="text-lg md:text-xl font-light text-neutral">Got questions? We’ve got answers. Building websites can be confusing, so we made this FAQ to clear things up — quickly and honestly.</p>

    </div>

    <div class="flex flex-col max-w-6xl mx-auto my-12 gap-3">
       {
         faqs.map((faq) => (
            <FAQ question={faq.question} answer={faq.answer}/>
         ))
       }
    </div>
    

</section>