---
import { faqs } from "@data/faqs";
import FaqItem from "@ui/FaqItem.astro";
import Info from "@icons/Info.svg";
import Heading from "@ui/Heading.astro";
import Section from "@ui/Section.astro";
---

<Section id="faqs" class="pt-20">

   <Heading
      pillLabel="Your Questions Answered"
      pillIcon={Info}
      title="FAQ – Everything You Need to Know"
      description=" Got questions? We’ve got answers. Building websites can be confusing, so we made this FAQ to clear things up — quickly and honestly."
   />

   <div class="flex flex-col max-w-6xl mx-auto my-12 gap-3">
      {
         faqs.map((faq) => (
            <FaqItem question={faq.question} answer={faq.answer} />
         ))
      }
   </div>
</Section>
