---
import { Image } from "astro:assets";

import Rocket from "../../assets/icons/Rocket.svg"
import Right from "../../assets/icons/Right.svg"

import Pill from "../atoms/Pill.astro";
import Button from "../atoms/Button.astro";


---

<section
  id="#"
  class="relative w-full h-screen bg-[url('/src/assets/images/boxGrid.svg')] bg-no-repeat bg-center bg-cover"
>

    <div class="max-w-4xl mx-auto flex flex-col justify-center items-center space-y-10 mt-22">
    
        <Pill label="Trusted by Startups & Freelancers">
            <Image
                slot={"icon"}
                src={Rocket}
                alt="Icon"
                class="w-8 h-8"
            />
        </Pill>

        <div class="flex flex-col justify-center items-center text-center space-y-6">
            
            <div class="space-y-2">
                <h1 class="text-desktop-h1 font-medium leading-18 text-neutral">
                Websites 

                    <span class="text-primary-orange relative inline-block">
                        
                        That Work

                        <svg class="absolute -bottom-3 left-2 w-full" width="284" height="18" viewBox="0 0 284 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.00037 15.5026C92.0004 -1.99726 191.5 -2.99731 282 15.5026" stroke="#F39C12" stroke-width="4" stroke-linecap="round"/>
                        </svg>


                    </span>

                    for You and Your Customers.
                </h1>

                <p class="max-w-xl mx-auto text-neutral font-light text-xl">
                    We build fast, responsive, and memorable websites designed to grow your business and make your ideas real.
                </p>
            </div>

            <div class="flex gap-4">
                <Button
                href="#contact" 
                label="Get a free Quote" 
                classes="rounded-full px-6 py-3 flex justify-center items-center gap-2 bg-neutral text-neutral2 hover:bg-neutral/90 group">
                    <Image
                        src={Right}
                        alt="Icon"
                        slot="icon"
                        class="group-hover:translate-x-2 transition ease-in-out"
                    />
                </Button>

                <Button
                href="#services" 
                label="Our Services" 
                classes="rounded-full border border-neutral/20 px-6 py-3 flex justify-center items-center gap-2 bg-bg text-neutral shadow-sm hover:bg-bg/40 group"/>
            </div>


        </div>
        
    </div>

</section>
