---

const {
    label,
    classes
} = Astro.props

---

<div class=`${classes} w-96 rounded-full shadow-sm border border-neutral/10 flex justify-center items-center gap-2 px-4 py-2 bg-bg`>

    <slot name="icon"/>
    
    <span class="text-transparent bg-clip-text bg-gradient-to-br from-neutral to-neutral font-light">
        {label}
    </span>

</div>