---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'>{
    label: string;
    iconPosition?: "right" | "left";
    underlineAnimation?: boolean;
    variant?: "ghost" | "outline" | "filled" | "rounded";
}

const {
    href,
    label,
    iconPosition = "right",
    underlineAnimation = false,
    variant = "filled",
    class: className,
    ...rest // Capture all other attributes (id, target, etc.)
} = Astro.props;

const baseStyles = "inline-flex items-center justify-center  transition duration-150  group aria-[current=page]:text-brand-surface"

const variants = {
    "ghost": "font-regular text-neutral-7 hover:text-brand-surface",
    "outline": "text-body-md border border-brand-blue text-brand-surface bg-brand-blue/5 hover:bg-brand-neutral px-4 py-3 gap-2 rounded-lg",
    "filled": "bg-brand-blue font-semibold text-brand-surface hover:bg-blue-900 px-4 py-3 gap-2 rounded-lg",
    "rounded": "bg-brand-blue font-semibold text-brand-surface hover:bg-blue-900 px-4 py-4 rounded-full"
}

const activeStyles = [
    className,
    baseStyles,
    variants[variant]
].join(" ");

---

<a href={href} class={activeStyles} {...rest}>

    {iconPosition === "left" && <slot name="icon"/>}

    <span>
        {label}
        {
            underlineAnimation && <span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-primary-orange"></span>
        }
    </span>

    {iconPosition === "right" && <slot name="icon"/>}


</a>
