---
import Button, { type ButtonVariants } from "@ui/Button.astro";

interface Props {
  description: string;
  url: string;
  buttonLabel: string;
  buttonVariant: ButtonVariants;
  buttonIcon?: any
  class?: string;
}

const {
  description,
  url,
  buttonLabel,
  buttonVariant,
  buttonIcon: ButtonIcon,
  class: className,
} = Astro.props;
---

<div class:list={["max-w-7xl w-full mx-auto rounded-xl md:rounded-4xl bg-brand-blue/5 flex max-lg:flex-col justify-between items-center gap-2 p-5 md:px-20 md:py-12 border border-brand-blue ", className]}>

  <div class="max-w-xl flex flex-col gap-1 max-lg:text-center ">
    <h4 class="text-h2">
      <slot name="title"/>
    </h4>
    <p>{description}</p>
  </div>

  <div class="max-lg:w-full">
    <Button
      label={buttonLabel}
      href={url}
      variant={buttonVariant}
      class="lg:animate-bounce w-full hover:[animation-play-state:paused] ease-in-out"
    >
      {ButtonIcon && <ButtonIcon  slot={'icon'}/>}
    </Button>
  </div>
</div>
