---
interface Props {
    title: string,
    description: string,
    class?: string,
}

const {
    title,
    description,
    class: className,

} = Astro.props
---

<div class:list={[
    className, "flex flex-col gap-4 bg-white/50 border border-neutral-5 p-8 rounded-2xl w-full md:w-[45%] items-start justify-center min-h-58"
]}>
    <h2 class="text-brand-neutral text-xl font-semibold">{title}</h2> 
    <p class="text-brand-neutral text-base leading-relaxed">{description}</p>
</div>