---
import { Image } from "astro:assets";

interface Props {
    image: ImageMetadata;
    alt: string;
}

const { image, alt } = Astro.props;

const transitionName = image.src.replace(/[^a-zA-Z0-9]/g, "-");
---

<div
    transition:name={transitionName}
    class="group relative aspect-3/2 w-full overflow-hidden rounded-xl border border-neutral-12"
>
    <Image
        src={image}
        alt={alt}
        class="h-full w-full object-cover object-top transition-[object-position] duration-6000 ease-in-out group-hover:object-bottom"
    />
</div>
