---
interface Props{
    id?: string,
    class?: string
}

const {
    id,
    class: className
} = Astro.props;
---

<section id={id} class:list={[className, "max-w-7xl mx-auto py-20 space-y-8 lg:space-y-16 px-5" ]}>
    <slot/>
</section>