---
import { techIcons } from "@data/why-us";
---

<div
    class="relative py-20 space-y-16 overflow-hidden mask-fade-x"
>
    <h1 class="text-caption uppercase text-neutral-7 text-center">
        POWERED BY MODERN TECH
    </h1>

    <div class="relative flex items-center animate-marquee hover:[animation-play-state:paused] gap-12 w-max shrink-0">
        {techIcons.map((icon) => (<icon.icon />))}
        {techIcons.map((icon) => (<icon.icon aria-hidden="true"/>))}
    </div>
</div>